<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
  <%- include('header.ejs') %>
    <div class="register">
        <div class="container">
          <h1>チェックシート</h1>
          <div class="panel">
            <h2>登録</h2>

            <% if (errors.length > 0) {%>
              <ul class = 'errors'>
                <% errors.forEach(error => {%>
                  <li><%= error %></li>
                  <% });%>
              </ul>

              <% } %>
            <form action="/add" method="post">
              <p>id</p>
              <input type="text" name="id">
              <p>name</p>
              <input type="text" name = "name">
              <input type="submit" value="登録">
            </form>
          </div>
        </div>
      </div>
</body>
</html>